
/* Your CSS Code here. */
div{
	width: 200px;
	background-color: rgb(128,0,128);
	border-left-width: 5px solid;
	border-left-color: rgb(0,128,0);
	padding: 10px;
/* 	color: white;
	text-decoration: underline; */
}

